.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{ :href => "#" } Thousand words
      .nav-collapse.collapse
        %ul.nav
          %li.active
            %a{ :href => "#" } Words Lists
          %li
            %a{ :href => "#" } Vocabulary
          %li
            %a{ :href => "#" } Training
